<%- include('header'); %>

<nav class="navbar dark fixed-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button
        class="btn"
        type="button"
        style="transform: scale(1.9)"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars fa-lg" style="color: #ffffff"></i>
      </button>
      <h2 class="my-2 mx-2 text-white">Add</h2>
    </div>

    <img src="/images/logo_2.png" width="69" height="53" />
    <div
      class="offcanvas offcanvas-size-sm offcanvas-start dark"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <img src="/images/logo_2.png" width="69" height="53" />
        <button
          type="button"
          class="btn"
          style="border: none"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff"></i>
        </button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active text-white fw-bold"
              aria-current="page"
              href="dashboard.ejs"
            >
              <h4 class="text-white">Dashboard</h4></a
            >
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white fw-bold" href="statistics.ejs"
              ><h4 class="text-white">Statistics</h4></a
            >
          </li>
          <li class="nav-item" style="padding-top: 67vh">
            <a class="nav-link text-white fw-bold" href="index.ejs"
              ><h4 class="text-white">Log out</h4></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 90px">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="card mb-3 yellow" style="width: 22rem">
        <div class="card-body mt-3">
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              style="padding: 10px"
              id="Appliance-add"
              name="Appliance"
              placeholder="Appliance name*"
            />
          </div>

          <div class="d-flex align-items-center justify-content-center pb-2">
            <div class="me-3">
              <button
                class="btn dark text-white fw-semibold"
                style="width: 120px"
                type="button"
              >
                Image
              </button>
            </div>

            <div class="dropdown">
              <button
                class="btn dark text-white fw-semibold"
                style="width: 180px"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Port Number
                <i class="dropdown-toggle" style="padding-left: 30px"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <div class="form-group me-5">
          <label for="time_on" class="text-white fw-semibold my-1"
            >Time on</label
          >
          <input
            type="number"
            class="form-control form-control-custom-3"
            id="time_on"
            name="time_on"
            placeholder="13:00"
          />
        </div>
        <div class="form-group">
          <label for="time_off" class="text-white fw-semibold my-1"
            >Time off</label
          >
          <input
            type="number"
            class="form-control form-control-custom-3"
            id="time_off"
            name="time_off"
            placeholder="13:00"

          />
        </div>
      </div>

      <div class="card mt-4 dark-2" style="width: 22rem">
        <div class="card-body" style="padding-top: 120px">
          <h1 class="text-white" style="padding-bottom: 120px">
            Other Features
          </h1>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="form-group me-5">
          <button
            type="submit"
            class="btn btn-custom-2 text-white light-blue fw-semibold"
          >
            Confirm
          </button>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-custom-2 text-white light-red fw-semibold"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
<%- include('footer'); %>
