<%- include('header'); %>
<%- include('nav') %>

<div class="container" style="padding-top: 90px">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3 yellow" style="width: 22rem">
            <div class="card-body">
                <h5 class="card-title fw-bold" style="font-size: 30px">
                    Energy Consumption
                </h5>
                <p class="card-text fw-bold fs-5" style="padding-bottom: 10px">
                    Analysis
                </p>
                <a href="/statistics" class="btn btn-dark fw-bold" style="width: 100px">View</a>
            </div>
        </div>

        <div class="py-4">
            <h4 class="text-white">Connected Appliances</h4>
        </div>

        <div style="padding-top: 30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/fan.jpg" class="rounded" width="134" height="134" alt="appliance1"/>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/OIP.jpg" class="rounded" width="134" height="134" alt="appliance2"/>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-md-6">
                        <img>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); %>