<%- include('header'); %> <%- include('nav') %>

<div class="container" style="padding-top: 90px">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="card mb-3 yellow" style="width: 22rem">
      <div class="card-body">
        <h5 class="card-title fw-bold" style="font-size: 30px">
          Energy Consumption
        </h5>
        <p class="card-text fw-bold fs-5" style="padding-bottom: 10px">
          Analysis
        </p>
        <a href="/statistics" class="btn btn-dark fw-bold" style="width: 100px"
          >View</a
        >
      </div>
    </div>

    <div class="py-4">
      <h4 class="text-white">Connected Appliances</h4>
    </div>

    <div style="padding-top: 30px">
      <div class="container">
        <div class="row">            
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div id="img2">
            <img
              src="/images/fan.jpg"
              class="rounded fit ap"
              id="ap1"
              alt="appliance1"
            />
          </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div id="img2">
            <img
              src="/images/OIP.jpg"
              class="rounded fit ap"
              id="ap2"
              alt="appliance2"
            />
            </div>
          </div>
        </div>
        <div class="row py-4">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div id="img2">
                <img
                  src="/images/light_bulb.png"
                  class="rounded fit ap"
                  id="ap3"
                  alt="appliance3"
                />
                </div>
              </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group" id="add-button">
            
                <button
                  type="submit"
                  class="btn text-white light-red fw-semibold add-ap"
                  style="width: 134px; height: 134px; background-color: #55586f"
                  id="add-ap"
                >
                  <i class="fa-solid fa-plus fa-xl" style="color: #ffffff"></i>
                </button>
             
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<form method="post" id="add-appliance" action="/add_appliance"></form>
<form method="post" id="appliance1" action="/app1"></form>
<form method="post" id="appliance2" action="/app2"></form>
<form method="post" id="appliance3" action="/app3"></form>


<script>

$("#dsh").attr("href", "/dashboard2")

$('#curpage').text('Dashboard')

let clicks = 0;
const DELAY = 250;
let timer = null;

$(".ap")
  .on("click", function (e) {
    clicks++;

    if (clicks === 1) {
      timer = setTimeout(function () {
        clicks = 0;
        $(e.target).toggleClass("clicked");
        console.log(e.target.id, " Single Click ")
      }, DELAY);
    } else {
      clearTimeout(timer);
      if(e.target.id === "ap1"){
        $("#appliance1").submit()

      }
      else if(e.target.id === "ap2"){
        $("#appliance2").submit()

      }
      else{
        $("#appliance3").submit()
      }
      clicks = 0;
    }
  })
  .on("dblclick", function (e) {
    e.preventDefault();
  });


  $(".add-ap").click(function(e) {    
    $("#add-appliance").submit()

    
})
</script>
</body>

<%- include('footer'); %>
